a {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: Arial;
  text-decoration: none;
  background-color: #caf;
  color: #217;
  transition: 0.3s;
}
/* hover funciona na passada do mouse */
a:hover {
  background-color: #adf;
  color: #147;
}

/* focus funciona quando o item esta selecionado, pelo tab por exemplo */

a:focus {
  background-color: #cfa;
  color: #371;
  /* outline: none; */
}

/* active funciona quando o item esta clicado */
a:active {
  background-color: #ffa;
  color: #671;
}

/* visited funciona quando o item ja foi visitado */
a:visited {
  background-color: #fda;
  color: #731;
}

.lista-1 li:first-child {
  background-color: #caf;
}

.lista-1 li:last-child {
  background-color: #cfa;
}

.lista-1 li {
  background-color: #ffa;
}

/* even seleciona todos os elementos pares */
/* odd seleciona todos os elementos pares */
/* Numero + n  seleciona os paragrafos de *Numero* em *Numero* */
.lista-2 li:nth-child(4n) {
  background-color: #cfa;
}

.lista-3 li {
  background-color: #caf;
}
/* negando elemento */
.lista-3 li:not(:first-child, :last-child) {
  background-color: #cdf;
}
